h1 {
  color: #0000ff;
}

 .container-fluid {
  border-color: #ff0000;
  border-style: solid;

}
 .container-lg {
  border-color: #ff0000;
  border-style: solid;

}
 .container-sm {
  border-color: #ff0000;
  border-style: solid;

}
 .container-md {
  border-color: #ff0000;
  border-style: solid;

}
