 .navbar {

  background-color: #E89358;


}

.nav-link {
  color: #000000;

}


.btn-primary {
  color: black;
  background-color: #E89358;
  border-color: #E89358;

}

.btn-primary:hover {
  color: black;
  background-color: #FFB66E;
  border-color: #FFB66E;
}


.card-header {
  color: black;
  background-color: #E89358;
}

.btn-link {
  color: black;
}
.btn-link:hover {
  background-color: #F29B5C;
  color: black;
  border-color: #F29B5C;
}

.card-title-link {
  color: #B37244;
}
.card-title-link:hover {
  color: #E89358;
}

.portfolio-card {
  background-color: #FFECD9;
}

.in-text-link {
  color: #B37244;
}
.in-text-link:hover {
  color: #E89358;
}
